* {
    margin: 0px;
    border: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.bold {
    font-weight: bold;
}

.blue {
    color: teal;
}
#wrapper {
    width: 970px;
    backcolor: white
}

#wrapper > img {
    height: 80px;
    display:inline-block;
}

#wrapper > h1 {
    color: #333;
    display: inline-block;
    vertical-align: top;
    margin: 20px 5px;
    font-weight: light;

}

#wrapper > h1 > span {
    color: steelblue;
}

#wrapper > h2 {
    display: block;
    background-image: linear-gradient(blue, lightblue, blue);
    color: white;
    vertical-align: middle;
    padding: 15px 5px;
    margin: -20px 0px 0px 00px;
    
}

#left_sidebar {
    background-image: linear-gradient(lightgrey, white, white, white, white);
    width: 200px;
    display: inline-block;
    vertical-align: top;
    height: 800px;
    padding: 10px;
}

#left_sidebar > h4 > span {
    color: red;
}

#advertisement {
    box-shadow: 3px 3px 1px black;
    width: 185px;
    height: 300px;
    padding-top: 30px;
    background-color: white;
    border-top: 1px solid black;
    overflow: hidden;
    
}
#advertisement > img:first-of-type {
    margin-top:-30%;
}
#advertisement > img:nth-of-type(2) {
    height: 110px;
    display:block;
    margin: -5px auto 20px auto;
    
}



#advertisement > h5 {
    margin-top: -550px;
    padding: 10px;
    color: white;
    font-weight: lighter;
    text-align: center;
    font-size: 25px;
}

#advertisement > a {
    margin: 25px;
    background-image: linear-gradient(lightblue, teal, lightblue);
    padding: 5px 15px;
    border: 2px blue;
    border-radius: 5px;
    color: white;
    font-size:small;
    text-decoration: none;
    font-weight:bold;
}

#advertisement span:nth-of-type(1) {
    color:lightblue;
}
#advertisement span:nth-of-type(2) {
    color:mediumblue;
}
#advertisement span:nth-of-type(3) {
    color:darkblue;
}

#main_content {
    display: inline-block;
    background-image: linear-gradient(lightgrey, white, white, white, white);
    height: 800px;
    width: 749px;
    margin-left: -4px; 
}
#main_content > img:first-of-type {
    height: 15px;
}

#main_content > img:nth-of-type(2) {
    height:100px;
    padding: 10px;
    margin-left: 200px;
}
#phone_info {
    display: inline-block;
    text-align: right;
    margin-left: 500px;
}

#phone_info > p {
    font-size: 11px;
}

#phone_info > a{
    font-weight: bolder;
    color: lightblue;
}

#main_content > h2 {
    color: teal;
}
#main_content > ul, #main_content > ol {
    margin: 40px;
}

#main_content > * > li {
    margin: 5px 0px;
}
