* {
    margin: 0px;
    border: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: top;
}

.bold {
    font-weight: bold;
}

.blue {
    color: #2ea3b9;
}

.dkblue {
    color: #2f6ca2;
}
#wrapper {
    width: 970px;
    backcolor: white
}

#wrapper > img {
    height: 80px;
    display:inline-block;
}

#wrapper > h1 {
    color: #333;
    display: inline-block;
    vertical-align: top;
    margin: 20px 5px;
    font-weight: light;

}

#wrapper > h1 > span {
    color: steelblue;
}

#wrapper > h2 {
    display: block;
    background-image: linear-gradient(#24669e, #5182ac, #24669e);
    color: white;
    vertical-align: middle;
    padding: 15px 5px;
    margin: -20px 0px 0px 00px;
    
}

#left_sidebar {
    background-image: linear-gradient(lightgrey, white, white, white, white);
    width: 200px;
    display: inline-block;
    vertical-align: top;
    height: 800px;
    padding: 10px;
}

#left_sidebar > h4 {
    margin: 10px 0px;
}

#left_sidebar > h4 > span {
    color: red;
    
}

#left_sidebar > p {
    margin-bottom: 20px;
}

#left_sidebar > a {
    color: white;
    display: block;
    margin:5px auto;
    padding: 5px;
    height:20px;
    width: 160px;
    border-radius: 5px;
    box-shadow: 2px 2px 1px grey;
    text-align: center;
}
#left_sidebar > a:first-of-type {
    background-image: linear-gradient(#6197c3,#2e699e);
}

#left_sidebar > a:nth-of-type(2) {
    background-image: linear-gradient(#ebad5a, #ef7400);
    margin-bottom: 40px;
}

hr {
    border: 1px solid grey;
}


#advertisement {
    box-shadow: 3px 3px 1px black;
    width: 200px;
    height: 300px;
    padding-top: 30px;
    margin: 40px 0px;
    background-color: white;
    border-top: 1px solid black;
    overflow: hidden;
    border-top: 2px solid black;
}
#advertisement > img:first-of-type {
    margin-top:-30%;
}
#advertisement > img:nth-of-type(2) {
    height: 110px;
    display:block;
    margin: -5px auto 20px auto;
}



#advertisement > h5 {
    margin-top: -550px;
    padding: 10px;
    color: white;
    font-weight: lighter;
    text-align: center;
    font-size: 25px;
}

#advertisement > a {
    margin: 25px;
    background-image: linear-gradient(lightblue, teal, lightblue);
    padding: 5px 15px;
    border: 2px blue;
    border-radius: 5px;
    color: white;
    font-size:small;
    text-decoration: none;
    font-weight:bold;
}

#advertisement span:nth-of-type(1) {
    color:lightblue;
}
#advertisement span:nth-of-type(2) {
    color:mediumblue;
}
#advertisement span:nth-of-type(3) {
    color:darkblue;
}

#main_content {
    display: inline-block;
    background-image: linear-gradient(lightgrey, white, white, white, white);
    height: 800px;
    width: 749px;
    margin-left: -4px;
    vertical-align: top;
}
#main_content > img:first-of-type {
    height: 15px;
    vertical-align: top;
    margin-top: 5px;
}

#main_content > span:first-of-type {
    margin: 10px 0px;
}


#main_content > img:nth-of-type(2) {
    display:inline-block;
    height:30px;
    margin-left: 500px;
    margin-top:15px;
}

#main_content > img:nth-of-type(3) {
    height:100px;
    padding: 10px;
    margin-left: 200px;
}
#phone_info {
    display: inline-block;
    text-align: right;
    margin-left: 5px;
    margin-bottom:10px;
}

#phone_info > p {
    font-size: 11px;
}

#phone_info > a {
    font-size: 20px;
    font-weight: 1000;
    color: #00c0df;
}

#main_content > h2 {
    color: #2f6ca2;
    margin: 0px;
}

#main_content > ul, #main_content > ol {
    margin: 0px 40px 0px 40px;
}

#main_content > * > li {
    margin: 5px 0px;
}

#footer {
    border: 3px solid #0085e0;
    display:inline-block;
    width: 700px;
    padding: 10px;
}
#footer > img {
    height: 120px;
    display:inline-block;
}

#footer h2 {
    display:inline-block;
}
#footer div {
    display: inline-block;
    width: 540px;
    margin-left: 20px;

}
#footer p {
    display: inline-block;
    margin: 5px 0px;
}
#footer a {
    color: #00aedc;
    text-decoration: none;
}
